@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Confirm Delete</h2>

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Client List", "Index")